/*
 * Copyright © 1999-2000 David Robinson
 * Copyright © 2007-2016 Matt Robinson
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#include "windows.h"

#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
// English (U.K.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENG)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

1            ICON                    "Graphics\Beebview.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version Info
//

1 VERSIONINFO
FILEVERSION 2,0,0,0
PRODUCTVERSION 2,0,0,0
FILEOS 0x4
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "080904b0"
        {
            VALUE "Comments", "View and save graphics files originally created on BBC Micro or Master Computers."
            VALUE "CompanyName", "nerdoftheherd.com"
            VALUE "FileDescription", "BBC Graphics Viewer"
            VALUE "FileVersion", "2.0"
            VALUE "InternalName", "beebview.exe"
            VALUE "LegalCopyright", "Copyright © 1999-" BEEBVIEW_COMMIT_YEAR
            VALUE "OriginalFilename", "beebview.exe"
            VALUE "ProductName", "BBC Graphics Viewer"
            VALUE "ProductVersion", BEEBVIEW_VERSION
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0809 0x04B0
    }
}

#endif    // English (U.K.) resources
/////////////////////////////////////////////////////////////////////////////
