/**************************************************************************************************************
  Utility to display BBC Micro / Master Graphics Files.
  Copyright © 2008 Matt Robinson, © 2003 David Robinson
 
  This program is free software; you can redistribute it and/or modify it under the terms of the GNU General
  Public License as published by the Free Software Foundation; either version 2 of the License, or (at your
  option) any later version.
 
  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the
  implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public
  License for more details.
 
  You should have received a copy of the GNU General Public License along with this program; if not, write
  to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
**************************************************************************************************************/

#include "resource.h"
#include "windows.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.K.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENG)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_BEEBVIEW            ICON                    "Graphics\Beebview.ico"
IDI_SMALL               ICON                    "Graphics\Small.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_ABOUT               BITMAP                  "Graphics\\BeebView 64.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_BEEBVIEW MENU 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open",                       IDM_OPEN
        MENUITEM "Save &As...",                 IDM_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       IDM_EXIT
    END
    POPUP "&Mode"
    BEGIN
        MENUITEM "Mode &0",                     IDM_MODE0
        MENUITEM "Mode &1",                     IDM_MODE1
        MENUITEM "Mode &2",                     IDM_MODE2
        MENUITEM "Mode &4",                     IDM_MODE4
        MENUITEM "Mode &5",                     IDM_MODE5
    END
    POPUP "&Cycle Colour"
    BEGIN
        MENUITEM "Colour &0",                   IDM_COL0
        MENUITEM "Colour &1",                   IDM_COL1
        MENUITEM "Colour &2",                   IDM_COL2
        MENUITEM "Colour &3",                   IDM_COL3
        MENUITEM "Colour &4",                   IDM_COL4
        MENUITEM "Colour &5",                   IDM_COL5
        MENUITEM "Colour &6",                   IDM_COL6
        MENUITEM "Colour &7",                   IDM_COL7
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "Online &Help",                IDM_HELP
		MENUITEM "&Report a Bug",               IDM_REPORTBUG
        MENUITEM SEPARATOR
        MENUITEM "&About",                      IDM_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDC_BEEBVIEW ACCELERATORS 
BEGIN
    "?",            IDM_ABOUT,              ASCII,  ALT
    "/",            IDM_ABOUT,              ASCII,  ALT
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUTBOX DIALOGEX 22, 17, 343, 180
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CAPTION | WS_SYSMENU
CAPTION "About BBC Graphics Viewer"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    CONTROL         IDB_ABOUT, IDC_STATIC, STATIC, SS_BITMAP | WS_CHILD | WS_VISIBLE, 8, 9, 0, 0
    LTEXT           "BBC Graphics Viewer 1.1" IDC_STATIC, 57, 12, 184, 10, SS_NOPREFIX
    LTEXT           "Copyright © 2008 Matt Robinson, © 2003 David Robinson" IDC_STATIC, 57, 25, 224, 10, SS_NOPREFIX
    LTEXT           "http://www.nerdoftheherd.com/tools/beebview/" IDC_URL, 57, 38, 155, 9, SS_NOPREFIX | SS_NOTIFY
    LTEXT           "License:", IDC_STATIC, 10, 56, 184, 9, SS_NOPREFIX
    DEFPUSHBUTTON   "OK", IDOK, 279, 157, 56, 16, WS_GROUP
    EDITTEXT        IDC_LICENSE, 8, 66, 327, 87, WS_VSCROLL | ES_MULTILINE | ES_READONLY
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE 
BEGIN
	IDC_BEEBVIEW            "BEEBVIEW"
	IDS_APP_TITLE           "BBC Graphics Viewer"
	IDS_LICENSETEXT         "This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.\r\n\r\nThis program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.\r\n\r\nYou should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA."
END

/////////////////////////////////////////////////////////////////////////////
//
// Version Info
//

1 VERSIONINFO
FILEVERSION 1,1,0,0
PRODUCTVERSION 1,1,0,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "000004b0"
	{
		VALUE "Comments", "Utility to view and save graphics files originally created on BBC Micro or Master Computers."
		VALUE "CompanyName", "www.nerdoftheherd.com"
		VALUE "FileDescription", "BBC Graphics Viewer"
		VALUE "FileVersion", "1.1"
		VALUE "InternalName", "Beebview.exe"
		VALUE "LegalCopyright", "Copyright © 2008 Matt Robinson, © 2003 David Robinson"
		VALUE "OriginalFilename", "Beebview.exe"
		VALUE "ProductName", "BBC Graphics Viewer"
		VALUE "ProductVersion", "1.1"
		VALUE "Assembly Version", "1.1"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0000 0x04B0
}
}

#endif    // English (U.K.) resources
/////////////////////////////////////////////////////////////////////////////